


<div class = "body">
<br>
<br>

<% @albums.each do |album| %>
  
    <div class="row">
      <div class ="col-md-2">
        <div class="jumbotron jtron">
        <div class ="container">  

          <%= link_to album.title, "/album/#{album.id}" %>
          <%= link_to album.artist, "/album/#{album.artist}" %>
          <%= link_to album.genre, "/album/#{album.genre}" %>
         


        </div> <!--jumbotron-->
      </div> <!--column-->
    </div> <!--row-->
  </div> <!--container-->
   <% end %>
</body>