


<div class = "body">
<br>
<br>

<% @albums.each do |album| %>
  
    <div class="row">
      <div class ="col-md-2">
        <div class="jumbotron jtron">
        <div class ="container">  

          <%= link_to "#{album.title} #{album.artist} #{album.genre}", "/albums/#{album.id}" %>

        </div> <!--jumbotron-->
      </div> <!--column-->
    </div> <!--row-->
  </div> <!--container-->
   <% end %>
</body>