
<div class="jumbotron jtron">

    <h1><%= @album.title %></h1>
    <h4><%= @album.artist %></h4>
    <h4><%= @album.genre %></h4>
    <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
</div>

<div> 
<%= link_to "Delete Album", "/albums/#{@album.id}/", method: :delete %>
</div>
